### Nguyễn Phạm Xuân Thắng - Assgiment #01

# SQL

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

### Problem 1 - Revising the Select Query II

Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/revising-the-select-query-2/hackers/thang181997/download_solution

#### Solution
```
SELECT `CITY`.`NAME` FROM `CITY`
WHERE `CITY`.`COUNTRYCODE` = 'USA' AND `CITY`.`POPULATION` > 120000
```

### Problem 2 - Select All

Query all columns (attributes) for every row in the CITY table.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/select-all-sql/hackers/thang181997/download_solution
#### Solution
```
SELECT * FROM CITY
```

### Problem 3 - Select By ID

Query all columns for a city in CITY with the ID 1661.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/select-by-id/hackers/thang181997/download_solution

#### Solution
```
SELECT * FROM CITY WHERE ID = 1661
```

### Problem 4 - Japanese Cities' Attributes

Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/japanese-cities-attributes/hackers/thang181997/download_solution

#### Solution
```
SELECT * FROM CITY
WHERE COUNTRYCODE = 'JPN'
```

### Problem 5 - Japanese Cities' Names

Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/revising-the-select-query-2/hackers/thang181997/download_solution

#### Solution
```
SELECT NAME FROM CITY WHERE COUNTRYCODE = 'JPN'
```

### Problem 6 - Weather Observation Station 1

Query a list of CITY and STATE from the STATION table.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-1/hackers/thang181997/download_solution

#### Solution
```
SELECT CITY, STATE FROM STATION
```

### Problem 7 - Weather Observation Station 3

Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-3/hackers/thang181997/download_solution

#### Solution
```
SELECT DISTINCT CITY FROM STATION
WHERE (ID % 2)=0 ORDER BY CITY;
```

### Problem 8 - Weather Observation Station 4

Let N be the number of CITY entries in STATION, and let N' be the number of distinct CITY names in STATION; query the value of N-N' from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-4/hackers/thang181997/download_solution

#### Solution
```
SELECT COUNT(CITY) - COUNT(DISTINCT CITY)
FROM STATION
```

### Problem 9 - Weather Observation Station 5

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-5/hackers/thang181997/download_solution

#### Solution
```
(SELECT CITY, LENGTH(CITY) as LEN_NAME FROM STATION ORDER BY LEN_NAME ASC,CITY LIMIT 1)
UNION ALL
(SELECT CITY, LENGTH(CITY) as LEN_NAME FROM STATION ORDER BY LEN_NAME DESC,CITY LIMIT 1);
```

### Problem 10 - Weather Observation Station 6

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-6/hackers/thang181997/download_solution

#### Solution
```
SELECT DISTINCT CITY 
FROM STATION 
WHERE CITY REGEXP '^[aeiou]'
```

#### NOTE
Ussing regular exp to match condition in string.

| Character | Description |Example|
|:----:|:---:|:---:|
|[]|A set of characters|"[a-m]"|
|^|Starts with|"^hello"|

### Problem 11 - Weather Observation Station 7

Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-7/hackers/thang181997/download_solution

#### Solution
```
SELECT DISTINCT CITY 
FROM STATION 
WHERE CITY REGEXP '[aeiou]$'
```

#### NOTE
Ussing regular exp to match condition in string.

| Character | Description |Example|
|:----:|:---:|:---:|
|[]|A set of characters|"[a-m]"|
|\$|Ends with|"world"|

### Problem 12 - Weather Observation Station 8

Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-8/hackers/thang181997/download_solution

#### Solution
```
SELECT DISTINCT CITY 
FROM STATION 
WHERE CITY REGEXP '[aeiou]$' AND CITY REGEXP '^[aeiou]'
```

#### NOTE
Ussing regular exp to match condition in string.

| Character | Description |Example|
|:----:|:---:|:---:|
|[]|A set of characters|"[a-m]"|
|^|Starts with|"^hello"|
|\$|Ends with|"world"|

### Problem 13 - Weather Observation Station 9

Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-9/hackers/thang181997/download_solution

#### Solution
```
SELECT DISTINCT CITY 
FROM STATION 
WHERE NOT CITY REGEXP '^[aeiou]'
```

#### NOTE
Ussing regular exp to match condition in string.

| Character | Description |Example|
|:----:|:---:|:---:|
|[]|A set of characters|"[a-m]"|
|^|Starts with|"^hello"|

### Problem 14 - Weather Observation Station 10

Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

#### Link
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-10/hackers/thang181997/download_solution

#### Solution
```
SELECT DISTINCT CITY 
FROM STATION 
WHERE NOT CITY REGEXP '[aeiou]$'
```

#### NOTE
Ussing regular exp to match condition in string.

| Character | Description |Example|
|:----:|:---:|:---:|
|[]|A set of characters|"[a-m]"|
|\$|Ends with|"world"|

# Python

## Problem 1

**Task** 
Read two integers from STDIN and print three lines where:
The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.


**Input Format**

The first line contains the first integer, a. The second line contains the second integer, b.

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

**URL Solution in Hackerrank**:
https://www.hackerrank.com/rest/contests/master/challenges/python-arithmetic-operators/hackers/thang181997/download_solution

In [1]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

 5
 10

15
-5
50

## Problem Python: Division

**Task**

Read two integers and print two lines. The first line should contain integer division,a //b. The second line should contain float division,  a/b .
You don't need to perform any rounding or formatting operations.

**Input Format**

The first line contains the first integer, a. The second line contains the second integer, b.

**Output Format**

Print the two lines as described above.

**URL Solution in Hackerrank**:
https://www.hackerrank.com/rest/contests/master/challenges/python-division/hackers/thang181997/download_solution

In [3]:
#Code
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

 4
 3

1
1.3333333333333333

## Problem Loops

**Task**

Read an integer N. For all non-negative integers i<N, print i^2. See the sample for details.

**Input Format**

The first and only line contains the integer, N.

**Output Format**

Print N lines, one corresponding to each i.

**URL Solution in Hackerrank**:https://www.hackerrank.com/rest/contests/master/challenges/python-loops/hackers/thang181997/download_solution

In [5]:
#Code
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i*i)

 5

0
1
4
9
16

## Problem Write a function

**Task**

We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February. 
In the Gregorian calendar three criteria must be taken into account to identify leap years:
The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years

You are given the year, and you have to write a function to check if the year is leap or not.
Note that you have to complete the function and remaining code is given as template.

**Input Format**

Read y, the year that needs to be checked.

**Output Format**

Output is taken care of by the template. Your function must return a boolean value (True/False)

**URL Solution in Hackerrank**: https://www.hackerrank.com/rest/contests/master/challenges/write-a-function/hackers/thang181997/download_solution

In [8]:
#Code

def is_leap(year):
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        return True
    return False

year = int(input())
print(is_leap(year))

 500

False

## Problem Print Function

**Task**

Read an integer N.
Without using any string methods, try to print the following:
123...N

Note that "..." represents the values in between.

**Input Format**

The first line contains an integer N.

**Output Format**

Output the answer as explained in the task.

**URL Solution in Hackerrank**: https://www.hackerrank.com/rest/contests/master/challenges/python-print/hackers/thang181997/download_solution

In [10]:
#Code
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i,end='')

 5

12345

## Problem List Comprehensions

**Task**

Let's learn about list comprehensions! You are given three integers X, Y and Z representing the dimensions of a cuboid along with an integer N. You have to print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i+j+k is not equal to N.

**Input Format**

Four integers X,Y,Z and N each on four separate lines, respectively.

**Output Format**

Print the list in lexicographic increasing order.

**URL Solution in Hackerrank**: https://www.hackerrank.com/rest/contests/master/challenges/list-comprehensions/hackers/thang181997/download_solution

In [11]:
#Code
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    result = []
    for i in range(x+1):
        for j in range(y+1):
            for k in range(z+1):
                if (i+j+k != n):
                    result.append([i,j,k])
    print(result)

 2
 2
 2
 2

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

## Problem Find the Runner-Up Score!

**Task**

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given scores. Store them in a list and find the score of the runner-up.

**Input Format**

The first line contains n. The second line contains an array A[] of n integers each separated by a space.

**Output Format**

Print the runner-up score.

**URL Solution in Hackerrank**: https://www.hackerrank.com/rest/contests/master/challenges/find-second-maximum-number-in-a-list/hackers/thang181997/download_solution

In [13]:
#Code
if __name__ == '__main__':
    n = int(input())
    arr_input = input()
    arr = list(map(int, arr_input.split()))
    max_num = max(arr)
    arr = list(filter(lambda a: a != max_num, arr))
    run_num = max(arr)
    print(run_num)

 5
 2 3 6 6 5

5

## Problem Nested Lists

**Task**

Given the names and grades for each student in a Physics class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.
Note: If there are multiple students with the same grade, order their names alphabetically and print each name on a new line.

**Input Format**

The first line contains an integer, N, the number of students. 
The 2N subsequent lines describe each student over 2 lines; the first line contains a student's name, and the second line contains their grade.

**Output Format**

Print the name(s) of any student(s) having the second lowest grade in Physics; if there are multiple students, order their names alphabetically and print each one on a new line.

**URL Solution in Hackerrank**: https://www.hackerrank.com/rest/contests/master/challenges/nested-list/hackers/thang181997/download_solution

In [15]:
#Code
if __name__ == '__main__':
    student_list = []
    for i in range(int(input())):
        name = input()
        score = float(input())
        student_list.append((name,score))
    
    min_score = min(student_list, key=lambda tup: tup[1])[1]
    # del student_list[student_list[1] == min_score]
    student_list =  list(filter(lambda x: x[1] != min_score, student_list))
    min_score = min(student_list, key=lambda tup: tup[1])[1]
    student_list = sorted(student_list, key=lambda tup: (tup[1],tup[0]))
    for student in student_list:
        if student[1] == min_score:
            print(student[0])
        else:
            break

 5
 Harry
 37.21
 Berry
 37.21
 Tina
 3702
 Akriti
 41
 Harsh
 39

Harsh

## Problem Finding the percentage

**Task**

You have a record of N students. Each record contains the student's name, and their percent marks in Maths, Physics and Chemistry. The marks can be floating values. The user enters some integer N followed by the names and marks for N students. You are required to save the record in a dictionary data type. The user then enters a student's name. Output the average percentage marks obtained by that student, correct to two decimal places.

**Input Format**

The first line contains the integer N, the number of students. The next N lines contains the name and marks obtained by that student separated by a space. The final line contains the name of a particular student previously listed.

**Output Format**

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

**URL Solution in Hackerrank**: https://www.hackerrank.com/rest/contests/master/challenges/finding-the-percentage/hackers/thang181997/download_solution

In [16]:
#Code
from decimal import Decimal
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for i in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    tmp = round(sum(student_marks[query_name])/len(student_marks[query_name]),2)
    print(round(Decimal(tmp),2))

 3
 Krishna 67 68 69
 Arjun 70 98 63
 Malika 52 56 60
 Malika

56.00